<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blin.bennytest" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" > -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 接收開機完成廣播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- GPS TUNEUP -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    >
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- Record Audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- ??消音 -->


    <application
        android:name=".ApplicationHelper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="1HGGDgfn4TLIEQuEVukoivkh" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TestBlank"
            android:label="@string/title_activity_test_blank" >
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <!-- Service declared in manifest -->
        <service
            android:name=".HelloService"
            android:exported="false" />

        <activity
            android:name=".GPS.GPSDEMO"
            android:label="@string/title_activity_gpsdemo" >
        </activity>
        <activity
            android:name=".SQLTEST.SqlMain"
            android:label="@string/title_activity_sql_main" >
        </activity>
        <activity
            android:name=".SQLTEST.Addrecord"
            android:label="@string/title_activity_addrecord" >
        </activity>
        <activity
            android:name=".SMS.SMSRdInbox"
            android:label="@string/title_activity_smsrd_inbox" >

        </activity>
        <activity
            android:name=".GPS.GPSSample"
            android:label="@string/title_activity_gpssample" >
        </activity>
        <activity
            android:name=".MEDIA.MediaRecordActivity"
            android:label="@string/title_activity_media_record" >
        </activity>
        <!-- 當鬧鈴時間到達時要執行的程式 -->
        <receiver android:name=".PlayReceiver" >
            <intent-filter>
                <action android:name="play_hskay" />
            </intent-filter>
        </receiver>
        <!--
        &lt;!&ndash; 當手機重開機，所要執行的程式。 &ndash;&gt;
        <receiver android:name=".AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        <!-- Phone Listner -->
        <receiver android:name=".SMS.PhoneListenerService" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SMS.SmsReceiver" >
            <intent-filter android:priority="800" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".GPS.GPSDemo1"
            android:label="@string/title_activity_gpsdemo1" >
        </activity>
        <activity
            android:name=".Util.NotificationSample"
            android:label="@string/title_activity_notification_sample" >
        </activity>
        <activity
            android:name=".GPS.Baidumap"
            android:label="@string/title_activity_baidumap" >
        </activity>
        <activity
            android:name=".GPS.OfflineDemo"
            android:label="Offline Demo" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name=".GPS.BaiduLoc"
            android:label="@string/title_activity_baidu_loc" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS?限判?本程序是否??前?行的?用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- ??消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>

